<script>
    // password visibility 

    
    document.getElementById("seepassword").addEventListener("click",event=>{
        let ps1 = document.getElementById("password")
        if(ps1.type == "password") {
            ps1.type = "text";
        }else {
            ps1.type="password";
        }
    })


    // login form 
    document.getElementById("loginform").addEventListener("click",e => {
        document.getElementById("exampleModalLabel").textContent = "Login Form";
        document.getElementById("loginpage").classList.remove("d-none");
        document.getElementById("signuppage").classList.add("d-none");
        document.getElementById("mail").classList.add("d-none");
    })

    // ajax 
    document.getElementById("loginpage").addEventListener("click",e => {
        e.preventDefault();
        
        $.ajax({
            url:"{% url 'login' %}",
            method:"POST",
            data:{
                username:document.getElementById("username").value,
                password:document.getElementById("password").value,
                csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
            },
            success:function(response) {
                if(response.status == 200) {
                    window.location.replace('http://127.0.0.1:8000');
                }else{
                    let error = document.getElementById("error");
                    error.textContent = response.msg;
                    error.classList.remove("d-none");

                    setInterval(() => {
                        error.classList.add("d-none");
                    }, 2000);
                }
            }
        })
    })
    

    // Sign up form 
    document.getElementById("signupform").addEventListener("click",e=>{
        document.getElementById("exampleModalLabel").textContent = "Signup Form";
        document.getElementById("signuppage").classList.remove("d-none");
        document.getElementById("mail").classList.remove("d-none");
    });

    
    document.getElementById("signuppage").addEventListener("click",e=>{
        e.preventDefault();
        $.ajax({
            url:"{% url 'signup' %}",
            method:"POST",
            data:{
                username:document.getElementById("username").value,
                email:document.getElementById("email").value,
                password:document.getElementById("password").value,
                csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
            },
            success:function(response) {
                let error = document.getElementById("error");
                if(response.status == 200) {
                    $("#username").val('');
                    $("#email").val('');
                    $("#password").val('');
                    error.textContent = response.msg;
                    error.classList.remove("alert-danger");
                    error.classList.remove("d-none");
                    error.classList.add("alert-success");
                    setInterval(() => {
                        error.classList.add("d-none");
                    }, 2000);

                }else{
                    error.textContent = response.msg;
                    error.classList.remove("d-none");

                    setInterval(() => {
                        error.classList.add("d-none");
                    }, 2000);
                }
            }
              
        })
    })



    









</script>



